body{
    font-family: "Cairo", sans-serif;
    background-color: #b3b3b3;
}
header{
    text-align: center;
    margin-bottom: 10px;
}
h1{
    font-size: 35px;
    color: #7b4f73;
    text-shadow: 2px 2px 5px rgb(0, 0 ,0 ,0.3);
    letter-spacing: 2px;
    text-transform: uppercase;
}
#image{
    position: relative;
    width: 400px;
    height: 400px;
    border: 5px solid #2e242c;
    margin: 0 auto 15px;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: visible;
    border-radius: 5px;
}
#imageText{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background: rgb(142 104 255 / 75%);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.flex{
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
}
.preview{
    width: 10%;
    margin-left: 1%;
    border: 5px solid #4e2b46;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.preview:focus{
    outline: 5px solid yellow;
}
img{
    width: 95%;
}